@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --main-bg:#1E1E1E;
    --main-white:#
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

